@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    padding: 0;
    margin: 0;
    background-color: #f0f6f9;
}

.card {
    background-color: #ffffff;
}

.guestbook .vssue {
    padding: 0;
}

.guestbook .vssue-header {
    display: none;
}

.guestbook .vssue-new-comment {
    background: #ffffff;
    padding: 1rem;
    margin-top: 0;
}